body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u1322 {
  position:absolute;
  left:169px;
  top:12px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
  text-align:center;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1324 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u1325 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u1326 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u1330 {
  position:absolute;
  left:346px;
  top:13px;
  width:20px;
  height:18px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1332 {
  position:absolute;
  left:0px;
  top:603px;
  width:375px;
  height:1px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334 {
  position:absolute;
  left:0px;
  top:44px;
  width:376px;
  height:604px;
  overflow:hidden;
}
#u1334_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1334_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1124px;
  overflow:hidden;
  touch-action:none;
}
#u1337_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1337_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1207px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1206px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:595px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:267px;
}
#u1341 {
  position:absolute;
  left:0px;
  top:238px;
  width:375px;
  height:266px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:125px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:228px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:228px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:106px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u1346 {
  position:absolute;
  left:115px;
  top:97px;
  width:145px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1346_img.selected {
}
#u1346.selected {
}
#u1347 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u1348 {
  position:absolute;
  left:0px;
  top:21px;
  width:51px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1348_img.selected {
}
#u1348.selected {
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u1350 {
  position:absolute;
  left:162px;
  top:143px;
  width:51px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u1351 {
  position:absolute;
  left:0px;
  top:3px;
  width:51px;
  white-space:nowrap;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
}
#u1352 {
  position:absolute;
  left:82px;
  top:176px;
  width:211px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u1353 {
  position:absolute;
  left:0px;
  top:3px;
  width:211px;
  white-space:nowrap;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:160px;
}
#u1354 {
  position:absolute;
  left:14px;
  top:254px;
  width:344px;
  height:160px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:72px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:28px;
}
#u1356 {
  position:absolute;
  left:14px;
  top:424px;
  width:301px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#584F60;
}
#u1356_img.selected {
}
#u1356.selected {
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:20px;
}
#u1358 {
  position:absolute;
  left:14px;
  top:455px;
  width:248px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1360 {
  position:absolute;
  left:14px;
  top:484px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1362 {
  position:absolute;
  left:316px;
  top:482px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:267px;
}
#u1364 {
  position:absolute;
  left:0px;
  top:514px;
  width:375px;
  height:266px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:125px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:160px;
}
#u1366 {
  position:absolute;
  left:14px;
  top:530px;
  width:344px;
  height:160px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:72px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:28px;
}
#u1368 {
  position:absolute;
  left:14px;
  top:700px;
  width:301px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#584F60;
}
#u1368_img.selected {
}
#u1368.selected {
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:20px;
}
#u1370 {
  position:absolute;
  left:14px;
  top:731px;
  width:248px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1372 {
  position:absolute;
  left:14px;
  top:760px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1374 {
  position:absolute;
  left:316px;
  top:758px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:267px;
}
#u1376 {
  position:absolute;
  left:0px;
  top:790px;
  width:375px;
  height:266px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:125px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:160px;
}
#u1378 {
  position:absolute;
  left:14px;
  top:806px;
  width:344px;
  height:160px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:72px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:28px;
}
#u1380 {
  position:absolute;
  left:14px;
  top:976px;
  width:301px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#584F60;
}
#u1380_img.selected {
}
#u1380.selected {
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:20px;
}
#u1382 {
  position:absolute;
  left:14px;
  top:1007px;
  width:248px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1384 {
  position:absolute;
  left:14px;
  top:1036px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1386 {
  position:absolute;
  left:316px;
  top:1034px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1388 {
  position:absolute;
  left:176px;
  top:1082px;
  width:20px;
  height:20px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390 {
  position:absolute;
  left:5px;
  top:238px;
  width:370px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1391 {
  position:absolute;
  left:3px;
  top:514px;
  width:370px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1392 {
  position:absolute;
  left:5px;
  top:790px;
  width:370px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:3px;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:3px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:601px;
  width:375px;
  height:2px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
