body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1020_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:66px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:282px;
  width:375px;
  height:65px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:218px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:218px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:101px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:55px;
}
#u1028 {
  position:absolute;
  left:147px;
  top:357px;
  width:106px;
  height:54px;
  font-family:'Yu Gothic UI Semibold', 'Yu Gothic UI Regular', 'Yu Gothic UI';
  font-weight:600;
  font-style:normal;
  font-size:40px;
  color:#1E1E1E;
  text-align:center;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1030 {
  position:absolute;
  left:152px;
  top:251px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u1030_img.selected {
}
#u1030.selected {
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u1032 {
  position:absolute;
  left:37px;
  top:255px;
  width:14px;
  height:11px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u1034 {
  position:absolute;
  left:323px;
  top:255px;
  width:15px;
  height:17px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:98px;
}
#u1036 {
  position:absolute;
  left:140px;
  top:468px;
  width:95px;
  height:95px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
}
#u1038 {
  position:absolute;
  left:37px;
  top:496px;
  width:21px;
  height:40px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:12px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
}
#u1040 {
  position:absolute;
  left:317px;
  top:496px;
  width:21px;
  height:40px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1041 {
  position:absolute;
  left:2px;
  top:12px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u1042 {
  position:absolute;
  left:172px;
  top:499px;
  width:7px;
  height:33px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:34px;
}
#u1044 {
  position:absolute;
  left:196px;
  top:499px;
  width:7px;
  height:33px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u1046 {
  position:absolute;
  left:317px;
  top:619px;
  width:41px;
  height:21px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
#u1046_img.selected {
}
#u1046.selected {
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:35px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1049 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u1050 {
  position:absolute;
  left:4px;
  top:0px;
  width:9px;
  height:19px;
  font-size:14px;
  color:#FFFFFF;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:291px;
}
#u1056 {
  position:absolute;
  left:59px;
  top:169px;
  width:257px;
  height:290px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:137px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:47px;
}
#u1058 {
  position:absolute;
  left:59px;
  top:413px;
  width:257px;
  height:46px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:15px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1060 {
  position:absolute;
  left:173px;
  top:427px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1060_img.selected {
}
#u1060.selected {
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:47px;
}
#u1062 {
  position:absolute;
  left:163px;
  top:201px;
  width:50px;
  height:46px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u1064 {
  position:absolute;
  left:151px;
  top:268px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
  text-align:center;
}
#u1064_img.selected {
}
#u1064.selected {
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u1066 {
  position:absolute;
  left:145px;
  top:302px;
  width:85px;
  height:17px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
  text-align:center;
}
#u1066_img.selected {
}
#u1066.selected {
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:2px;
}
#u1068 {
  position:absolute;
  left:59px;
  top:323px;
  width:257px;
  height:1px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1070 {
  position:absolute;
  left:159px;
  top:334px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1070_img.selected {
}
#u1070.selected {
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u1072 {
  position:absolute;
  left:71px;
  top:362px;
  width:21px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u1074 {
  position:absolute;
  left:176px;
  top:362px;
  width:21px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u1076 {
  position:absolute;
  left:280px;
  top:362px;
  width:21px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u1078 {
  position:absolute;
  left:71px;
  top:373px;
  width:13px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u1079 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1080 {
  position:absolute;
  left:84px;
  top:381px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u1082 {
  position:absolute;
  left:175px;
  top:373px;
  width:13px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u1084 {
  position:absolute;
  left:189px;
  top:381px;
  width:11px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u1086 {
  position:absolute;
  left:273px;
  top:373px;
  width:13px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
  text-align:right;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1088 {
  position:absolute;
  left:286px;
  top:381px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u1090 {
  position:absolute;
  left:59px;
  top:413px;
  width:257px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1091 {
  position:absolute;
  left:135px;
  top:463px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1020_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1020_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:103px;
}
#u1094 {
  position:absolute;
  left:137px;
  top:308px;
  width:100px;
  height:100px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u1096 {
  position:absolute;
  left:176px;
  top:339px;
  width:38px;
  height:38px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1097 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1098 {
  position:absolute;
  left:159px;
  top:415px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1098_img.selected {
}
#u1098.selected {
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1100_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:156px;
  height:53px;
}
#u1100 {
  position:absolute;
  left:151px;
  top:558px;
  width:153px;
  height:50px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:17px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1103_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:53px;
}
#u1103 {
  position:absolute;
  left:71px;
  top:558px;
  width:80px;
  height:50px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u1105 {
  position:absolute;
  left:203px;
  top:569px;
  width:49px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
  text-align:center;
}
#u1105_img.selected {
}
#u1105.selected {
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1107 {
  position:absolute;
  left:137px;
  top:308px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
