body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u9 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u11 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:-20px;
  width:376px;
  height:668px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u16 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:86px;
}
#u17 {
  position:absolute;
  left:99px;
  top:154px;
  width:178px;
  height:86px;
}
#u18 {
  position:absolute;
  left:2px;
  top:35px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:92px;
  top:517px;
  width:193px;
  height:31px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
  text-align:center;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:31px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u19_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:31px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
  text-align:center;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u19_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:31px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
}
#u28 {
  position:absolute;
  left:317px;
  top:2px;
  width:41px;
  height:20px;
  color:#C9C9C9;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:161px;
  top:557px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u36 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u38 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u45 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u47 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u30_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u54 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u56 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u30_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u63 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u65 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:51px;
}
#u67 {
  position:absolute;
  left:15px;
  top:582px;
  width:346px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u69 {
  position:absolute;
  left:143px;
  top:596px;
  width:91px;
  height:24px;
  font-size:18px;
  color:#F2F2F2;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:15px;
  top:582px;
  width:346px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
