body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3496 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u3497 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u3498 {
  position:absolute;
  left:346px;
  top:12px;
  width:15px;
  height:17px;
}
#u3499 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u3500 {
  position:absolute;
  left:133px;
  top:13px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3501 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u3502 {
  position:absolute;
  left:194px;
  top:13px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3503 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:3px;
}
#u3504 {
  position:absolute;
  left:130px;
  top:42px;
  width:35px;
  height:2px;
}
#u3505 {
  position:absolute;
  left:2px;
  top:-7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3506 {
  position:absolute;
  left:0px;
  top:44px;
  width:376px;
  height:554px;
  overflow:hidden;
}
#u3506_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:554px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3506_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3507 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u3507_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3507_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3508 {
  position:absolute;
  left:26px;
  top:0px;
  width:35px;
  height:35px;
}
#u3509 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u3510 {
  position:absolute;
  left:71px;
  top:7px;
  width:41px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3511 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u3512 {
  position:absolute;
  left:266px;
  top:11px;
  width:95px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:right;
}
#u3513 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u3514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:375px;
}
#u3514 {
  position:absolute;
  left:0px;
  top:57px;
  width:375px;
  height:375px;
}
#u3515 {
  position:absolute;
  left:2px;
  top:180px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:161px;
}
#u3516 {
  position:absolute;
  left:0px;
  top:442px;
  width:375px;
  height:160px;
  font-size:16px;
}
#u3517 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u3518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u3518 {
  position:absolute;
  left:0px;
  top:602px;
  width:375px;
  height:48px;
}
#u3519 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:98px;
}
#u3520 {
  position:absolute;
  left:0px;
  top:650px;
  width:375px;
  height:98px;
}
#u3521 {
  position:absolute;
  left:2px;
  top:41px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:3px;
}
#u3522 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
  color:transparent;
}
#u3523 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:3px;
}
#u3524 {
  position:absolute;
  left:0px;
  top:537px;
  width:375px;
  height:2px;
  color:transparent;
}
#u3525 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u3526 {
  position:absolute;
  left:0px;
  top:597px;
  width:375px;
  height:50px;
}
#u3527 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3528 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u3529 {
  position:absolute;
  left:31px;
  top:629px;
  width:21px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#A1A1A1;
}
#u3530 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u3531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u3532 {
  position:absolute;
  left:29px;
  top:602px;
  width:18px;
  height:11px;
  -webkit-transform:rotate(285deg);
  -moz-transform:rotate(285deg);
  -ms-transform:rotate(285deg);
  transform:rotate(285deg);
}
#u3533 {
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u3534 {
  position:absolute;
  left:34px;
  top:618px;
  width:18px;
  height:11px;
  -webkit-transform:rotate(105deg);
  -moz-transform:rotate(105deg);
  -ms-transform:rotate(105deg);
  transform:rotate(105deg);
}
#u3535 {
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u3537 {
  position:absolute;
  left:126px;
  top:629px;
  width:21px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u3538 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u3539 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3540 {
  position:absolute;
  left:122px;
  top:604px;
  width:25px;
  height:25px;
}
#u3541 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3542 {
  position:absolute;
  left:127px;
  top:609px;
  width:15px;
  height:15px;
}
#u3543 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u3545 {
  position:absolute;
  left:221px;
  top:629px;
  width:21px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3546 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u3547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:6px;
}
#u3547 {
  position:absolute;
  left:219px;
  top:604px;
  width:19px;
  height:5px;
}
#u3548 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:6px;
}
#u3549 {
  position:absolute;
  left:219px;
  top:614px;
  width:25px;
  height:5px;
}
#u3550 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:6px;
}
#u3551 {
  position:absolute;
  left:219px;
  top:623px;
  width:19px;
  height:5px;
}
#u3552 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u3554 {
  position:absolute;
  left:321px;
  top:629px;
  width:11px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u3555 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u3556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3556 {
  position:absolute;
  left:321px;
  top:604px;
  width:12px;
  height:12px;
}
#u3557 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:8px;
}
#u3558 {
  position:absolute;
  left:314px;
  top:619px;
  width:25px;
  height:7px;
}
#u3559 {
  position:absolute;
  left:2px;
  top:-4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3560 {
  position:absolute;
  left:103px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3561 {
  position:absolute;
  left:10px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3562 {
  position:absolute;
  left:197px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3563 {
  position:absolute;
  left:295px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
