body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:28px;
}
#u2220 {
  position:absolute;
  left:128px;
  top:7px;
  width:121px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u2222 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u2223 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2224 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:112px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:112px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:48px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
