body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u1263 {
  position:absolute;
  left:151px;
  top:11px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
  text-align:center;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1267 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u1268 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u1269 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u1273 {
  position:absolute;
  left:346px;
  top:13px;
  width:20px;
  height:18px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1275 {
  position:absolute;
  left:308px;
  top:13px;
  width:20px;
  height:19px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277 {
  position:absolute;
  left:0px;
  top:44px;
  width:376px;
  height:604px;
  overflow:hidden;
}
#u1277_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1277_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1278_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1278_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:915px;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:914px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:449px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1281 {
  position:absolute;
  left:14px;
  top:16px;
  width:35px;
  height:35px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u1283 {
  position:absolute;
  left:19px;
  top:27px;
  width:27px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F2F2F2;
  text-align:center;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1285 {
  position:absolute;
  left:56px;
  top:16px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:center;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u1287 {
  position:absolute;
  left:55px;
  top:29px;
  width:37px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u1289 {
  position:absolute;
  left:301px;
  top:24px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:212px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:141px;
  width:375px;
  height:212px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:98px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:29px;
}
#u1293 {
  position:absolute;
  left:14px;
  top:69px;
  width:352px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#584F60;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:119px;
}
#u1295 {
  position:absolute;
  left:14px;
  top:375px;
  width:352px;
  height:118px;
  color:#666666;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:82px;
}
#u1297 {
  position:absolute;
  left:14px;
  top:503px;
  width:352px;
  height:81px;
  color:#666666;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:82px;
}
#u1299 {
  position:absolute;
  left:14px;
  top:578px;
  width:352px;
  height:81px;
  color:#666666;
}
#u1300 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:119px;
}
#u1301 {
  position:absolute;
  left:14px;
  top:652px;
  width:352px;
  height:118px;
  color:#666666;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:119px;
}
#u1303 {
  position:absolute;
  left:14px;
  top:780px;
  width:352px;
  height:118px;
  color:#666666;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:3px;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:3px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:602px;
  width:375px;
  height:2px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:-7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
