body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u3200 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u3201 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3202 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u3203 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u3204 {
  position:absolute;
  left:147px;
  top:11px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u3205 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u3206 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u3207 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u3208 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u3209 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:134px;
}
#u3210 {
  position:absolute;
  left:196px;
  top:355px;
  width:160px;
  height:134px;
}
#u3211 {
  position:absolute;
  left:2px;
  top:59px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:134px;
}
#u3212 {
  position:absolute;
  left:20px;
  top:355px;
  width:160px;
  height:134px;
}
#u3213 {
  position:absolute;
  left:2px;
  top:59px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:128px;
}
#u3214 {
  position:absolute;
  left:20px;
  top:500px;
  width:160px;
  height:128px;
}
#u3215 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:301px;
}
#u3216 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:301px;
}
#u3217 {
  position:absolute;
  left:2px;
  top:142px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:128px;
}
#u3218 {
  position:absolute;
  left:196px;
  top:500px;
  width:160px;
  height:128px;
}
#u3219 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u3220 {
  position:absolute;
  left:138px;
  top:448px;
  width:100px;
  height:100px;
}
#u3221 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u3222 {
  position:absolute;
  left:178px;
  top:484px;
  width:20px;
  height:29px;
}
#u3223 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:42px;
}
#u3224 {
  position:absolute;
  left:0px;
  top:304px;
  width:375px;
  height:41px;
}
#u3225 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:42px;
}
#u3226 {
  position:absolute;
  left:314px;
  top:304px;
  width:61px;
  height:41px;
  color:#F2F2F2;
}
#u3227 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:28px;
}
#u3228 {
  position:absolute;
  left:340px;
  top:311px;
  width:10px;
  height:27px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F2F2F2;
}
#u3229 {
  position:absolute;
  left:2px;
  top:6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u3230 {
  position:absolute;
  left:10px;
  top:315px;
  width:20px;
  height:17px;
  color:#F2F2F2;
}
#u3231 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u3232 {
  position:absolute;
  left:40px;
  top:315px;
  width:46px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3233 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u3234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3234 {
  position:absolute;
  left:329px;
  top:595px;
  width:24px;
  height:26px;
}
#u3235 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3236 {
  position:absolute;
  left:23px;
  top:595px;
  width:24px;
  height:26px;
}
#u3237 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3238 {
  position:absolute;
  left:329px;
  top:458px;
  width:24px;
  height:26px;
}
#u3239 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3240 {
  position:absolute;
  left:23px;
  top:458px;
  width:24px;
  height:26px;
}
#u3241 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u3242 {
  position:absolute;
  left:321px;
  top:304px;
  width:48px;
  height:35px;
}
#u3243 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
