body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u3663 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u3664 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:254px;
}
#u3665 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:253px;
}
#u3666 {
  position:absolute;
  left:2px;
  top:118px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:17px;
}
#u3667 {
  position:absolute;
  left:16px;
  top:180px;
  width:178px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3668 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u3669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u3669 {
  position:absolute;
  left:16px;
  top:206px;
  width:67px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3670 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u3671 {
  position:absolute;
  left:138px;
  top:60px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3672 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u3673 {
  position:absolute;
  left:138px;
  top:91px;
  width:85px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3674 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u3675 {
  position:absolute;
  left:0px;
  top:602px;
  width:375px;
  height:45px;
  color:#FFFFFF;
}
#u3676 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u3677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3677 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u3678 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u3679 {
  position:absolute;
  left:147px;
  top:11px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u3680 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u3681 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u3682 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u3683 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3685 {
  position:absolute;
  left:351px;
  top:208px;
  width:8px;
  height:14px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u3687 {
  position:absolute;
  left:16px;
  top:232px;
  width:67px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
}
#u3689 {
  position:absolute;
  left:16px;
  top:258px;
  width:144px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u3691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u3691 {
  position:absolute;
  left:16px;
  top:54px;
  width:112px;
  height:112px;
}
#u3692 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u3693 {
  position:absolute;
  left:16px;
  top:147px;
  width:112px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u3694 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
