body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u1123 {
  position:absolute;
  left:151px;
  top:12px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
  text-align:center;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1125 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:603px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127 {
  position:absolute;
  left:0px;
  top:44px;
  width:376px;
  height:604px;
  overflow:hidden;
}
#u1127_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1128 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1128_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u1129 {
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:50px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1131 {
  position:absolute;
  left:0px;
  top:229px;
  width:375px;
  height:1px;
}
#u1132 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:159px;
}
#u1133 {
  position:absolute;
  left:0px;
  top:229px;
  width:375px;
  height:158px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:71px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u1135 {
  position:absolute;
  left:14px;
  top:195px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u1135_img.selected {
}
#u1135.selected {
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u1137 {
  position:absolute;
  left:316px;
  top:193px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:20px;
}
#u1139 {
  position:absolute;
  left:85px;
  top:240px;
  width:222px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1141 {
  position:absolute;
  left:85px;
  top:264px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:207px;
}
#u1143 {
  position:absolute;
  left:0px;
  top:397px;
  width:375px;
  height:206px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:95px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u1145 {
  position:absolute;
  left:14px;
  top:410px;
  width:49px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:3px;
  width:49px;
  white-space:nowrap;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1147 {
  position:absolute;
  left:350px;
  top:417px;
  width:8px;
  height:14px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1149 {
  position:absolute;
  left:0px;
  top:229px;
  width:375px;
  height:1px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154 {
  position:absolute;
  left:301px;
  top:408px;
  width:72px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1155 {
  position:absolute;
  left:352px;
  top:196px;
  width:8px;
  height:14px;
  color:#CCCCCC;
}
#u1156 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157 {
  position:absolute;
  left:316px;
  top:187px;
  width:59px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1158 {
  position:absolute;
  left:308px;
  top:415px;
  width:38px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1160 {
  position:absolute;
  left:0px;
  top:308px;
  width:375px;
  height:1px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1162 {
  position:absolute;
  left:85px;
  top:287px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1164 {
  position:absolute;
  left:85px;
  top:319px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1166 {
  position:absolute;
  left:85px;
  top:343px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1168 {
  position:absolute;
  left:85px;
  top:366px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:37px;
}
#u1170 {
  position:absolute;
  left:148px;
  top:123px;
  width:221px;
  height:36px;
  font-family:'華康寶風體 Bold', '華康寶風體';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1170_img.selected {
}
#u1170.selected {
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1172 {
  position:absolute;
  left:14px;
  top:318px;
  width:61px;
  height:59px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:58px;
}
#u1174 {
  position:absolute;
  left:14px;
  top:240px;
  width:61px;
  height:58px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:21px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1176 {
  position:absolute;
  left:14px;
  top:454px;
  width:61px;
  height:59px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1178 {
  position:absolute;
  left:85px;
  top:455px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1180 {
  position:absolute;
  left:85px;
  top:479px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1182 {
  position:absolute;
  left:85px;
  top:502px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1184 {
  position:absolute;
  left:14px;
  top:533px;
  width:61px;
  height:59px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1186 {
  position:absolute;
  left:85px;
  top:534px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1188 {
  position:absolute;
  left:85px;
  top:558px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1190 {
  position:absolute;
  left:85px;
  top:581px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1192 {
  position:absolute;
  left:0px;
  top:441px;
  width:375px;
  height:1px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1194 {
  position:absolute;
  left:0px;
  top:522px;
  width:375px;
  height:1px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:207px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:613px;
  width:375px;
  height:206px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:95px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u1198 {
  position:absolute;
  left:14px;
  top:626px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:3px;
  width:61px;
  white-space:nowrap;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1200 {
  position:absolute;
  left:350px;
  top:633px;
  width:8px;
  height:14px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202 {
  position:absolute;
  left:301px;
  top:624px;
  width:72px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1203 {
  position:absolute;
  left:308px;
  top:631px;
  width:38px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1205 {
  position:absolute;
  left:14px;
  top:670px;
  width:61px;
  height:59px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1207 {
  position:absolute;
  left:85px;
  top:671px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1209 {
  position:absolute;
  left:85px;
  top:695px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1211 {
  position:absolute;
  left:85px;
  top:718px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1213 {
  position:absolute;
  left:14px;
  top:749px;
  width:61px;
  height:59px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1215 {
  position:absolute;
  left:85px;
  top:750px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1217 {
  position:absolute;
  left:85px;
  top:774px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1219 {
  position:absolute;
  left:85px;
  top:797px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:657px;
  width:375px;
  height:1px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1223 {
  position:absolute;
  left:0px;
  top:738px;
  width:375px;
  height:1px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:207px;
}
#u1225 {
  position:absolute;
  left:0px;
  top:829px;
  width:375px;
  height:206px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:95px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u1227 {
  position:absolute;
  left:14px;
  top:842px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:3px;
  width:61px;
  white-space:nowrap;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1229 {
  position:absolute;
  left:350px;
  top:849px;
  width:8px;
  height:14px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:301px;
  top:840px;
  width:72px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1232 {
  position:absolute;
  left:308px;
  top:847px;
  width:38px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1234 {
  position:absolute;
  left:14px;
  top:886px;
  width:61px;
  height:59px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1236 {
  position:absolute;
  left:85px;
  top:887px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1238 {
  position:absolute;
  left:85px;
  top:911px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1240 {
  position:absolute;
  left:85px;
  top:934px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:59px;
}
#u1242 {
  position:absolute;
  left:14px;
  top:965px;
  width:61px;
  height:59px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u1244 {
  position:absolute;
  left:85px;
  top:966px;
  width:196px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#584F60;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u1246 {
  position:absolute;
  left:85px;
  top:990px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:12px;
}
#u1248 {
  position:absolute;
  left:85px;
  top:1013px;
  width:82px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:873px;
  width:375px;
  height:1px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:954px;
  width:375px;
  height:1px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:21px;
  width:51px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u1254_img.selected {
}
#u1254.selected {
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:1px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u1258 {
  position:absolute;
  left:0px;
  top:603px;
  width:369px;
  height:1px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1260 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u1261 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u1262 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u1266 {
  position:absolute;
  left:346px;
  top:13px;
  width:20px;
  height:18px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
