body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u3695 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697 {
  position:absolute;
  left:103px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3698 {
  position:absolute;
  left:10px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3699 {
  position:absolute;
  left:197px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3700 {
  position:absolute;
  left:295px;
  top:597px;
  width:63px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
